/* Main Stylesheet for Rare Cancers PH site */

@import url('https://fonts.googleapis.com/css?family=Karla:700|Lato:400,700');

:root {
  /* COLORS */
  --color-blue-primary: #00409E;
  --color-blue-secondary: #3E8CFF;
  --color-blue-light: #F3F8FF;

  --color-red-primary: #C40000;
  --color-red-secondary: #FF8B8F;
  --color-red-light: #FFF3F3;

  --color-yellow-primary: #F9BA0D;
  --color-yellow-secondary: #FFDE83;
  --color-yellow-light: #FFF9E9;

  --color-teal-primary: #7FB7BE;
  --color-teal-secondary: #D3F3EE;
  --color-teal-light: #ECFFFC;

  --color-text-primary: #1A1A1A;
  --color-text-secondary: #686868;

  --color-bg-navbar: rgba(250, 250, 250, 0.8);

  /* SIZES */
  --size-text-body: 18px;
  --size-text-small: 14px;
  --size-text-emphasis: 20px;

  --size-text-button: 1.11em; /* 20px */

  --size-text-h1: 2.67em; /* 48px */
  --size-text-h2:    2em; /* 36px */
  --size-text-h3: 1.83em; /* 33px */
  --size-text-h4: 1.44em; /* 26px */
  --size-text-h5: 1.33em; /* 24px */
  --size-text-h6: 1.11em; /* 20px */

  --line-height-body: 150%;
  --line-height-heading: 100%;

  --border-radius: 0.278rem;

  /* TYPEFACES */
  --font-heading: 'Karla', sans-serif;
  --font-body: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: var(--color-text-primary);
  font-size: var(--size-text-body);
  font-family: var(--font-body);
  font-weight: 400;
  line-height: var(--line-height-body);
}

/**
 * GENERAL STYLES
 */
strong {
  font-family: var(--font-body);
  font-weight: 700;
}

/* Heading */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  line-height: var(--line-height-heading);
  padding-bottom: 1rem;
}

h1, h4 { color: var(--color-blue-primary); }
h2, h5 { color: var(--color-blue-secondary); }
h3, h6 { color: var(--color-teal-primary); }

h1 { font-size: var(--size-text-h1); }
h2 { font-size: var(--size-text-h2); }
h3 { font-size: var(--size-text-h3); }
h4 { font-size: var(--size-text-h4); }
h5 { font-size: var(--size-text-h5); }
h6 { font-size: var(--size-text-h6); }

/* Hyperlinks */
a {
  color: var(--color-blue-secondary);
  text-shadow: 0 1px 0 var(--color-blue-light);
  text-decoration: none;
  border-bottom: 1px dashed var(--color-blue-primary);
  display: inline-block;
  position: relative;
  padding: 0 .2em;
  transition: all 250ms;
  z-index: 100;
}

a::before {
  content: "";
  z-index: -1;
  width: 100%;
  height: 0%;
  background: var(--color-blue-light);
  bottom: 0;
  left: 0;
  position: absolute;
  transition: height 250ms;
}

a:hover,
a:focus,
a:active {
  color: var(--color-blue-primary);
  border-color: transparent;
}

a:hover::before,
a:focus::before,
a:active::before {
  height: 100%;
}
/*
p:first-of-type {
  
}*/

/* button */
.button {
  display: block;
  text-align: center;
  text-shadow: none;
  font-size: var(--size-text-button);
  font-family: var(--font-heading);
  padding: 0.8rem 1.3rem;
  border: 3px solid transparent;
  border-radius: var(--border-radius);
  width: auto;
}

.filled.button {
  color: #fff;
}

.blue.filled.button {
  background-color: var(--color-blue-primary);
}

.blue.outlined.button {
  border-color: var(--color-blue-primary);
  color: var(--color-blue-primary);
}

.button::before {
  z-index: initial !important;
  width: initial !important;
  height: initial !important;
  background: none !important;
  bottom: initial !important;
  left: initial !important;
  position: initial !important;
  transition: none !important;
}

/* INPUT FIELD STYLES */
input {
  font-size: var(--size-text-body);
  padding: 0.8rem 1.3rem;
  border-radius: var(--border-radius);
  border: none;
  background-color: #fafafa;
}

input:focus {
  outline-color: var(--color-blue-secondary);
}

input::placeholder {
  opacity: 0.4;
}

/** 
 * HEADER STYLES
 */

header {
  width: 100vw;
  height: 100px;
  background-color: var(--color-bg-navbar);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.05);
  display: inline-flex;
  justify-content: space-between;
  padding: 0 50px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
}

header .brand {
  display: block;
  height: 100%;
  width: auto;
}

header .navigation {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 40em;
  width: 50%;
  height: 100%;
}

header .navigation .nav-item {
  flex: 0 1 auto;
  display: block;
  text-align: center;
}

header .navigation .nav-item a {
  color: var(--color-blue-primary);
  border-bottom: none;
  padding: .5em 0;
  z-index: initial;
  width: auto;
  display: inline-block;
  position: relative;
}

header .navigation .nav-item a::before {
  content: "";
  z-index: initial;
  height: 3px;
  background-color: var(--color-blue-secondary);
  right: 0;
  transform: scaleY(0);
  transition: transform 300ms;
}

header .navigation .nav-item a:hover::before,
header .navigation .nav-item a:focus::before,
header .navigation .active.nav-item a::before {
  transform: scaleY(1);
}

/* HERO BANNER */
.hero-banner {
  display: block;
}

/* LightSlider overrides */
/* removing the styles for hyperlinks on the carousel buttons */
.hero-banner.carousel + .lSAction > a {
  color: initial;
  text-shadow: none;
  border-bottom: none;
}

.hero-banner.carousel + .lSAction > a::before {
  z-index: initial !important;
  width: initial !important;
  height: initial !important;
  background: none !important;
  bottom: initial !important;
  left: initial !important;
  position: initial !important;
  transition: none !important;
}

/* moving pager within the slider */
.lSSlideOuter .lSPager.lSpg {
  position: absolute;
  top: 94vh;
  left: 0;
  right: 0;
}

/* Slide styles */
.hero-banner.carousel .slide .description {
  height: 100vh;
  background-color: var(--color-blue-light);
  background-size: cover;
  background-position: center;
  padding: 2em 100px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

.description > *:not(.button) {
  width: 36rem;
}

.description > p {
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
}

#subscribe-to-newsletter { display: inline-flex; }

#subscribe-to-newsletter input[type="email"] {
  flex: 4;
  margin-right: 1.11rem;
}

#subscribe-to-newsletter .button {
  flex: 1;
}

/* STAGES CARD STYLES */
.stages {
  display: block;
  margin: 0 auto;
  width: 100vw;
}

.stages .stage {
  width: 100vw;
  min-height: 70vh;
  padding: 2.78rem 8.33rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
}

.stage:nth-child(odd) { background-color: var(--color-blue-light); }
.stage:nth-child(even) { background-color: #fff; }

.stage .stage-details {
  grid-column: 1 / 5;
  grid-row: 1 / span 1;
  margin: 0 auto 2.78rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.stage .stage-details::before {
  content: "";
  position: absolute;
  top: 4.2rem;
  left: 0;
  width: 5.56rem;
  height: 3px;
  background-color: #c4c4c4;
}

.stage .stage-details::after {
  content: "";
  position: absolute;
  width: 1.39rem;
  height: 1.39rem;
  left: calc(5.56rem - (1.39rem / 2));
  top: calc(4.2rem - (1.39rem / 2));
  background-color: var(--color-blue-secondary);
  border-radius: 50%;
}

.stage:nth-child(even) .stage-details::after {
  background-color: var(--color-teal-secondary);
}

.stage .stage-details .stage-name {
  color: var(--color-blue-primary);
  flex: 1 1 auto;
}

.stage:nth-child(even) .stage-details .stage-name {
  color: var(--color-teal-primary);
}

.stage .stage-details .stage-description {
  flex: 2 1 auto;
  margin: 0 2.78rem;
}

.stages .stage .article-cards {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3.5rem;
}

.article-cards .article-card {
  background-color: #fff;
  border-radius: 3px 10px;
  padding: 1.67rem;
  grid-column: span 1;
  grid-row: span 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.article-cards .article-card.medical-information {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25),
              0px 4px 4px rgba(0, 0, 0, 0.25),
              inset 0px 4px 0px var(--color-blue-secondary);
}

.article-cards .article-card.financial-aid {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25),
              0px 4px 4px rgba(0, 0, 0, 0.25),
              inset 0px 4px 0px var(--color-yellow-secondary);
}

.article-cards .article-card.social-support {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25),
              0px 4px 4px rgba(0, 0, 0, 0.25),
              inset 0px 4px 0px var(--color-red-secondary);
}

.article-cards .article-card.others {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25),
              0px 4px 4px rgba(0, 0, 0, 0.25),
              inset 0px 4px 0px var(--color-teal-secondary);
}

.article-card .article-card-heading .article-title {
  padding-bottom: 0.5rem;
}

.article-card.medical-information .article-card-heading .article-title { color: var(--color-blue-primary); }
.article-card.financial-aid .article-card-heading .article-title { color: var(--color-yellow-primary); }
.article-card.social-support .article-card-heading .article-title { color: var(--color-red-primary); }
.article-card.others .article-card-heading .article-title { color: var(--color-teal-primary); }

.article-card .article-card-heading .article-meta {
  margin: 0 auto 0.75rem;
  font-size: var(--size-text-small);
}

.article-card .article-excerpt {
  margin-bottom: 1rem;
}

.article-card .article-read-more {
  text-align: right;
  align-self: flex-end;
}

.article-card .article-card-category {
  position: relative;
  color: #fff;
  border-radius: 3px 3px 3px 2px;
  margin-left: -2.75rem;
  padding: 0.56rem;

  text-shadow: none;
  border-bottom: none;
  display: initial;
  z-index: initial;
}

.article-card.medical-information .article-card-category { background-color: var(--color-blue-primary); }
.article-card.financial-aid .article-card-category { background-color: var(--color-yellow-primary); }
.article-card.social-support .article-card-category { background-color: var(--color-red-primary); }
.article-card.others .article-card-category { background-color: var(--color-teal-primary); }

.article-card .article-card-category::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border-bottom: 0.56rem solid transparent;
  z-index: initial;
  width: initial;
  height: initial;
  background: none;
  bottom: initial;
}

.article-card.medical-information .article-card-category::before { border-right: 1.08rem solid var(--color-blue-secondary); }
.article-card.financial-aid .article-card-category::before { border-right: 1.08rem solid var(--color-yellow-secondary); }
.article-card.social-support .article-card-category::before { border-right: 1.08rem solid var(--color-red-secondary); }
.article-card.others .article-card-category::before { border-right: 1.08rem solid var(--color-teal-secondary); }