/* Main Stylesheet for Rare Cancers PH site */

@import url('https://fonts.googleapis.com/css?family=Karla:700|Lato:400,700');

:root {
  /* COLORS */
  --color-blue-primary: #00409E;
  --color-blue-secondary: #3E8CFF;
  --color-blue-light: #F3F8FF;

  --color-red-primary: #C40000;
  --color-red-secondary: #FF8B8F;
  --color-red-light: #FFF3F3;

  --color-yellow-primary: #F9BA0D;
  --color-yellow-secondary: #FFDE83;
  --color-yellow-light: #FFF9E9;

  --color-teal-primary: #7FB7BE;
  --color-teal-secondary: #D3F3EE;
  --color-teal-light: #ECFFFC;

  --color-text-primary: #1A1A1A;
  --color-text-secondary: #686868;

  --color-bg-navbar: rgba(250, 250, 250, 0.8);

  /* SIZES */
  --size-text-body: 18px;
  --size-text-small: 14px;
  --size-text-emphasis: 20px;

  --size-text-h1: 2.67em; /* 48px */
  --size-text-h2:    2em; /* 36px */
  --size-text-h3: 1.83em; /* 33px */
  --size-text-h4: 1.44em; /* 26px */
  --size-text-h5: 1.33em; /* 24px */
  --size-text-h6: 1.11em; /* 20px */

  --line-height-body: 150%;
  --line-height-heading: 100%;

  /* TYPEFACES */
  --font-heading: 'Karla', sans-serif;
  --font-body: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: var(--color-text-primary);
  font-size: var(--size-text-body);
  font-family: var(--font-body);
  font-weight: 400;
  line-height: var(--line-height-body);
}

/* General text styles */

strong {
  font-family: var(--font-body);
  font-weight: 700;
}

/* Heading */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  line-height: var(--line-height-heading);
  padding-bottom: 1rem;
}

h1, h4 { color: var(--color-blue-primary); }
h2, h5 { color: var(--color-blue-secondary); }
h3, h6 { color: var(--color-teal-primary); }

h1 { font-size: var(--size-text-h1); }
h2 { font-size: var(--size-text-h2); }
h3 { font-size: var(--size-text-h3); }
h4 { font-size: var(--size-text-h4); }
h5 { font-size: var(--size-text-h5); }
h6 { font-size: var(--size-text-h6); }

/* Hyperlinks */
a {
  color: var(--color-blue-secondary);
  text-shadow: 0 1px 0 var(--color-blue-light);
  text-decoration: none;
  border-bottom: 1px dashed var(--color-blue-primary);
  display: inline-block;
  position: relative;
  padding: 0 .2em;
  transition: all 250ms;
  z-index: 100;
}

a::before {
  content: "";
  z-index: -1;
  width: 100%;
  height: 0%;
  background: var(--color-blue-light);
  bottom: 0;
  left: 0;
  position: absolute;
  transition: height 250ms;
}

a:hover,
a:focus,
a:active {
  color: var(--color-blue-primary);
  border-color: transparent;
}

a:hover::before,
a:focus::before,
a:active::before {
  height: 100%;
}

/** 
 * HEADER STYLES
 */

header {
  width: 100vw;
  height: 100px;
  background-color: var(--color-bg-navbar);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.05);
  display: inline-flex;
  justify-content: space-between;
  padding: 0 50px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

header .brand {
  display: block;
  height: 100%;
  width: auto;
}

header .navigation {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 40em;
  width: 50%;
  height: 100%;
}

header .navigation .nav-item {
  flex: 0 1 auto;
  display: block;
  text-align: center;
}

header .navigation .nav-item a {
  color: var(--color-blue-primary);
  border-bottom: none;
  padding: .5em 0;
  z-index: initial;
  width: auto;
  display: inline-block;
  position: relative;
}

header .navigation .nav-item a::before {
  content: "";
  z-index: initial;
  height: 3px;
  background-color: var(--color-blue-secondary);
  right: 0;
  transform: scaleY(0);
  transition: transform 300ms;
}

header .navigation .nav-item a:hover::before,
header .navigation .nav-item a:focus::before,
header .navigation .active.nav-item a::before {
  transform: scaleY(1);
}